main {
    background-image: url(../img/Axe-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 10rem 2rem;
}

article h2 {
    font-size: 15px;
    color: var(--white);
    margin-top: 20px;
  }